:root {
  --ms-blue: #0d6efd;
  --ms-indigo: #6610f2;
  --ms-purple: #6f42c1;
  --ms-pink: #d63384;
  --ms-red: #dc3545;
  --ms-orange: #fd7e14;
  --ms-yellow: #ffc107;
  --ms-green: #198754;
  --ms-teal: #20c997;
  --ms-cyan: #0dcaf0;
  --ms-black: #000;
  --ms-white: #fff;
  --ms-gray: #6c757d;
  --ms-gray-dark: #343a40;
  --ms-gray-100: #f8f9fa;
  --ms-gray-200: #e9ecef;
  --ms-gray-300: #dee2e6;
  --ms-gray-400: #ced4da;
  --ms-gray-500: #adb5bd;
  --ms-gray-600: #6c757d;
  --ms-gray-700: #495057;
  --ms-gray-800: #343a40;
  --ms-gray-900: #212529;
  --ms-primary: #0d6efd;
  --ms-secondary: #6c757d;
  --ms-success: #198754;
  --ms-info: #0dcaf0;
  --ms-warning: #ffc107;
  --ms-danger: #dc3545;
  --ms-light: #f8f9fa;
  --ms-dark: #212529;
  --ms-primary-rgb: 13, 110, 253;
  --ms-secondary-rgb: 108, 117, 125;
  --ms-success-rgb: 25, 135, 84;
  --ms-info-rgb: 13, 202, 240;
  --ms-warning-rgb: 255, 193, 7;
  --ms-danger-rgb: 220, 53, 69;
  --ms-light-rgb: 248, 249, 250;
  --ms-dark-rgb: 33, 37, 41;
  --ms-primary-text-emphasis: #052c65;
  --ms-secondary-text-emphasis: #2b2f32;
  --ms-success-text-emphasis: #0a3622;
  --ms-info-text-emphasis: #055160;
  --ms-warning-text-emphasis: #664d03;
  --ms-danger-text-emphasis: #58151c;
  --ms-light-text-emphasis: #495057;
  --ms-dark-text-emphasis: #495057;
  --ms-primary-bg-subtle: #cfe2ff;
  --ms-secondary-bg-subtle: #e2e3e5;
  --ms-success-bg-subtle: #d1e7dd;
  --ms-info-bg-subtle: #cff4fc;
  --ms-warning-bg-subtle: #fff3cd;
  --ms-danger-bg-subtle: #f8d7da;
  --ms-light-bg-subtle: #fcfcfd;
  --ms-dark-bg-subtle: #ced4da;
  --ms-primary-border-subtle: #9ec5fe;
  --ms-secondary-border-subtle: #d6d7d8;
  --ms-success-border-subtle: #a3cfbb;
  --ms-info-border-subtle: #9eeaf9;
  --ms-warning-border-subtle: #ffe69c;
  --ms-danger-border-subtle: #f1aeb5;
  --ms-light-border-subtle: #e9ecef;
  --ms-dark-border-subtle: #adb5bd;
  --ms-white-rgb: 255, 255, 255;
  --ms-black-rgb: 0, 0, 0;
  --ms-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans',
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --ms-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --ms-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --ms-body-font-family: var(--ms-font-sans-serif);
  --ms-body-font-size: 1rem;
  --ms-body-font-weight: 400;
  --ms-body-line-height: 1.5;
  --ms-body-color: #212529;
  --ms-body-color-rgb: 33, 37, 41;
  --ms-body-bg: #fff;
  --ms-body-bg-rgb: 255, 255, 255;
  --ms-emphasis-color: #000;
  --ms-emphasis-color-rgb: 0, 0, 0;
  --ms-secondary-color: rgba(33, 37, 41, 0.75);
  --ms-secondary-color-rgb: 33, 37, 41;
  --ms-secondary-bg: #e9ecef;
  --ms-secondary-bg-rgb: 233, 236, 239;
  --ms-tertiary-color: rgba(33, 37, 41, 0.5);
  --ms-tertiary-color-rgb: 33, 37, 41;
  --ms-tertiary-bg: #f8f9fa;
  --ms-tertiary-bg-rgb: 248, 249, 250;
  --ms-heading-color: inherit;
  --ms-link-color: #0d6efd;
  --ms-link-color-rgb: 13, 110, 253;
  --ms-link-decoration: underline;
  --ms-link-hover-color: #0a58ca;
  --ms-link-hover-color-rgb: 10, 88, 202;
  --ms-code-color: #d63384;
  --ms-highlight-color: #212529;
  --ms-highlight-bg: #fff3cd;
  --ms-border-width: 1px;
  --ms-border-style: solid;
  --ms-border-color: #dee2e6;
  --ms-border-color-translucent: rgba(0, 0, 0, 0.175);
  --ms-border-radius: 0.375rem;
  --ms-border-radius-sm: 0.25rem;
  --ms-border-radius-lg: 0.5rem;
  --ms-border-radius-xl: 1rem;
  --ms-border-radius-xxl: 2rem;
  --ms-border-radius-2xl: var(--ms-border-radius-xxl);
  --ms-border-radius-pill: 50rem;
  --ms-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --ms-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --ms-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --ms-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --ms-focus-ring-width: 0.25rem;
  --ms-focus-ring-opacity: 0.25;
  --ms-focus-ring-color: rgba(13, 110, 253, 0.25);
  --ms-form-valid-color: #198754;
  --ms-form-valid-border-color: #198754;
  --ms-form-invalid-color: #dc3545;
  --ms-form-invalid-border-color: #dc3545;
}
